@font-face {
  font-family: Avant;
  src: url("../../public/Fonts/AVGARDD_2.TTF");
}

@font-face {
  font-family: Bebas Neue;
  src: url("/Fonts/Bebas-Regular.ttf");
}

@font-face {
  font-family: "NeueMachina Regular";
  src: url("/Fonts/NeueMachina-Regular.otf");
}

@font-face {
  font-family: "NeueMachina Bold";
  src: url("/Fonts/NeueMachina-Ultrabold.otf");
}

@font-face {
  font-family: "Albra Bold";
  src: url("/Fonts/Albra.otf");
}

@font-face {
  font-family: "Albra Regular";
  src: url("/Fonts/AlbraRegular.otf");
}
@font-face {
  font-family: "Miagra";
  src: url("/Fonts/Migra.woff2");
}

@font-face {
  font-family: "Sharp";
  src: url("/Fonts/SharpGrotesk.otf");
}
@font-face {
  font-family: "Pragma";
  src: url("/Fonts/PragmaticaMedium.otf");
}
@font-face {
  font-family: "Avenir";
  src: url("/Fonts/Metropolis-Black.otf");
}


@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  height: 100vh;
  background-color: #f1f2f6;
  overflow-x: hidden;
}

/* cursor styling */

#cursor {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
  overflow: visible;
  /* display: grid; */
  /* place-items: center; */
}

.hovering {
  height: 120px !important;
  width: 120px !important;
  background-color: rgba(255, 255, 0, 0.358);
  border: solid 1px rgba(200, 200, 9, 0.637) !important;
}

.hovering ~ .arrow-link {
  display: grid;
}
.arrow-link {
  display: none;
}
.cursor__circle {
  width: 64px;
  height: 64px;
  margin-top: -50%;
  margin-left: -50%;
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.64);
  transition: height 300ms ease, width 300ms ease, background-color 500ms ease;
}

.component {
  position: relative;
  overflow-y: hidden;
}

.component::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: 0;
  transition: all 600ms ease;
  background-color: black;
}

.component:hover::after {
  width: 0%;
}

.component > .hidden-h1 {
  transform: translate(0%, 100%);
  transition: all 500ms ease;
}

.component:hover > .hidden-h1 {
  transform: translate(0%, 0%);
}

.component > .active-h1 {
  transform: translate(0%, 0%);
  transition: all 500ms ease;
}

.component:hover > .active-h1 {
  transform: translate(0%, -110%);
}

.link {
  position: relative;
}

.link::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 0%;
  height: 2px;
  background-color: #000;
  left: 0;
  transition: all 200ms ease;
}

.link:hover::after {
  width: 100%;
}

.pod[data-status="inactive"] {
  display: none;
}

.pod[data-status="active"] {
  display: block;
}

.pod[data-status="active"] > img {
  animation: imgBounce 1s 1 forwards;
}

@keyframes imgBounce {
  0% {
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(0, 0%);
  }
  100% {
    transform: translate(0%, 100%);
  }
}

@keyframes imgOut {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0%);
  }
}


.displacement{
  filter: url(#displacementfilter);
}




