#hamburger__icon {
  cursor: pointer;
}

#bar__one {
  position: relative;
  transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
}
#bar__two {
  position: relative;
  transition: transform 0.4s 0.07s cubic-bezier(0.76, 0, 0.24, 1);
}

#bar__one::after {
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  background: #000;
  right: 0;
  top: 0;
  transition: left 0.4s cubic-bezier(0.76, 0, 0.24, 1);
}
#bar__two {
  transition: transform 0.4s 0.07s cubic-bezier(0.76, 0, 0.24, 1);
}

#hamburger__icon:hover #bar__one {
  transform: translateX(135%);
}
#hamburger__icon:hover #bar__one::after {
    /* left: 50%; */
}

#hamburger__icon:hover #bar__two {
  transform: translateX(130%);
}
